# Xcode
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive

# SwiftData / SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/
